name: Auto-close all PRs
on:
  pull_request_target:
    types: [opened, reopened]
permissions:
  pull-requests: write

jobs:
  close:
    runs-on: ubuntu-latest
    steps:
      - name: Close PR
        uses: actions/github-script@v7
        with:
          script: |
            const pr = context.payload.pull_request
            await github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: pr.number,
              state: "closed"
              })
            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: pr.number,
              body: "This repository does not accept pull requests. See README.md for details. Closing automatically."
            })

